/* Header.css */
@import url('../vendor/fonts/fonts.css');

.header {
  width: calc(100% - 80px);
  max-width: 1440px;
  min-height: 40px;
  margin: 0 auto;
  padding: 32px 0 20px 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-family: 'Cabinet Grotesk', 'Inter', sans-serif;
}

.header__left,
.header__right {
  display: flex;
  align-items: center;
  gap: 20px;
}

.header__logo {
  height: 40px;
}

.header__date-location {
  width: 100%;
  max-width: 190px;
  font-family: Cabinet Grotesk;
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
  margin: 11px 0 13px 0;
}

.header__toggle-wrapper {
  display: flex;
  align-items: center;
  height: 40px; /* Ensures vertical centering */
}

.header__button {
  padding: 8px 12px;
  color: #000;
  font-family: Cabinet Grotesk;
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
  border: none;
  cursor: pointer;
}

.header__profile {
  display: flex;
  align-items: center;
  gap: 10px;
}

.header__username {
  font-family: Cabinet Grotesk;
  font-weight: 700;
  font-size: 20px;
  line-height: 100%;
}

.header__avatar {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  border: 1px solid rgba(0, 0, 0, 0.5);
}

@media screen and (max-width: 600px) {
  .header {
    flex-direction: column;
    align-items: center;
    text-align: center;
    margin: 0 auto 1rem;
    padding: 1rem;
    height: auto;
    width: calc(100% - 40px);
  }

  .header__left,
  .header__right {
    flex-direction: column;
    align-items: center;
    gap: 1rem;
    width: 100%;
    margin-bottom: 1rem;
  }

  .header__date-location {
    margin: 0.5rem 0;
    width: 100%;
    text-align: center;
  }

  .header__toggle-wrapper {
    height: auto;
    margin-bottom: 1rem;
  }
}
