.main {
  width: calc(100% - 80px); 
  max-width: 1200px; 
  margin: 0 auto; 
}

.main__intro {
  font-size: 16px;
  margin: 0;
  padding-bottom: 20px;
  text-align: left;
}

.mainweather {
  text-align: left;
  margin: 2.5rem 0 2.125rem 2.5rem;
}

.maintemp {
  font-size: 1.2rem;
  font-weight: 500;
}

.main__clothing-items {
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  padding: 0;
  margin-top: 1.25rem;
}

@media screen and (max-width: 600px) {
  .main__intro {
    margin: 0 0 0 40px;
  }
}

@media screen and (max-width: 480px) {
  .main {
    width: calc(100% - 40px);
    margin: 0 0 0 20px;
  }
}

@media screen and (max-width: 320px) {
  .main__intro {
    margin: 0 0 0 20px;
  }
}