.main {
  padding: 0;
}

.main__intro {
  font-size: 16px;
  margin: 40px 0px 18px 40px;
  padding: 0;
  text-align: left;
}

.mainweather {
  text-align: left;
  margin: 2.5rem 0 2.125rem 2.5rem;
}

.maintemp {
  font-size: 1.2rem;
  font-weight: 500;
}

.main__clothing-items {
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  padding: 0;
  margin-top: 1.25rem;
}

.cards {
  padding: 1.25rem;
}

.cards__list {
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: center;
  padding: 0;
  margin: 0;
}
