.toggle-switch-wrapper {
  display: flex;
  align-items: center;
  gap: 10px;
  font-family: 'Cabinet Grotesk', sans-serif;
}

.unit-label {
  font-weight: 600;
  font-size: 16px;
}

.toggle-switch {
  position: relative;
  width: 56px;
  height: 28px;
  display: inline-block;
}

.toggle-switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  background-color: #eee;
  border-radius: 34px;
  position: relative;
  top: -16px;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 4px;
  box-sizing: border-box;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.unit {
  z-index: 1;
  font-size: 12px;
  font-weight: bold;
  width: 50%;
  text-align: center;
  color: #888;
  transition: color 0.3s ease;
}

.circle {
  position: absolute;
  top: 2px;
  left: 2px;
  width: 24px;
  height: 24px;
  border-radius: 50%;
  background-color: black;
  transition: left 0.25s ease;
}

.toggle-switch input:checked + .slider .circle {
  left: 30px;
}

.toggle-switch input:checked + .slider .unit--c {
  color: white;
}

.toggle-switch input:not(:checked) + .slider .unit--f {
  color: white;
}

.toggle-switch:hover .circle {
  left: calc(2px + 2px);
}
