.weather-card {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  background-size: cover;
  background-position: right center;
  background-repeat: no-repeat;
  background-color: #00A3FF;
  height: 80px;
  max-width: 1200px;
  margin: 20px auto;
  font-family: 'Cabinet Grotesk', 'Inter', sans-serif;
  font-weight: 700;
  font-size: 36px;
  line-height: 40px;
  color: #ffffff;
  border-radius: 10px;
  box-sizing: border-box;
  overflow: hidden;
}

.weather-card__temp {
  margin: 0 0 0 16px;
}

@media screen and (max-width: 1029px) {
  .weather-card {
    width: 100%;
    margin: 20px auto;
    padding: 0 20px;
  }
}

@media screen and (max-width: 600px) {
  .weather-card {
    width: 85%;
    font-size: 24px;
    line-height: 28px;
    height: 60px;
    padding: 10px 15px;
    margin-top: 2rem; 
  }
}

@media screen and (max-width: 480px) {
  .weather-card {
    width: calc(100% - 40px);
  }
}