.weather-card {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  background-size: cover;
  background-position: right center;
  background-repeat: no-repeat;
  height: 80px;
  width: 100%;
  max-width: 1280px;
  margin: 1.75rem auto;
  padding: 0 1.25rem;
  font-family: "Cabinet Grotesk", sans-serif;
  font-weight: 700;
  font-size: 36px;
  line-height: 40px;
  color: #ffffff;
  border-radius: 10px;
  box-sizing: border-box;
  overflow: hidden;
}
